=simple_form_for(@stylesheet) do |f|
  =f.error_notification

  .form-inputs
    .row
      .col-md-5
        =f.input :name
        =f.input :controller, :collection => Stylesheet.controllers
        =f.input :action
        =f.input :active
    .row#stylesheetcontentrow
      .col-md-12
        =f.input :content
    .row
      .col-md-1
        ="Content"
      .col-md-11
        #editor{:style => 'width: 100%; height: 300px'}
        #statusBar

  .form-actions
    .row{:style => 'padding-top: 15px'}
      .col-md-12
        =f.button :submit

