.row
	.col-md-8
		- @shows.each_with_index do |show, index|
			-if index % 6 == 0
				.col-md-12
			.col-md-2
				.center-block.text-center
					=link_to image_tag("missing_show.png", :width => 90, :height => 90), show_url(show.id)
					%small=link_to show.name, show_url(show.id)
	.col-md-4
		%h4.text-center Recent Episodes
