-begin
  =get_and_render_template(self, 'blogindex')
-rescue
  / Using system template
  .row
    .col-md-2
    .col-md-8
      -if !@blogs.nil?
        -@blogs.each do |post|
          .panel.panel-default
            .panel-heading
              %h3{:style => "margin-top: 10px"}
                =link_to post.title, post
              by
              =post.postauthor.name
              %br
              published
              =post.published_on.strftime("%B %d, %Y") rescue ""
            .panel-body=strip_tags(post.body.truncate(200, omission: '...').gsub(">", "> "))
      -else
        No blog posts published yet.
    .col-md-2
