!!! XML
%rss{ 'xmlns:itunes' => 'http://www.itunes.com/dtds/podcast-1.0.dtd', 'version' => '2.0', 'xmlns:content' => 'http://purl.org/rss/1.0/modules/content/' }
	%channel
		%title=channel.name
		%link=polymorphic_url channel
		%pubDate=(channel.episodes.where(:live => true).order(published_on: :desc).first.published_on + 8.hours).httpdate
		%language=channel.language
		%copyright=channel.copyright
		%itunes:subtitle=channel.name
		%itunes:author=channel.itunesauthor
		%itunes:summary=channel.description
		%description=channel.description
		%itunes:owner
			%itunes:name=channel.owner.name
			%itunes:email=channel.owner.email
		%itunes:image{ :href => channel.uploaded_image.url }
		%itunes:category{ :text => channel.itunescategory.category }
			-if !channel.itunescategory.subcategory.nil?
				%itunes:category{ :text => channel.itunescategory.subcategory }
		- @episodes.where(:live => true).each do | episode |
			=render 'partials/episode', :episode => episode
