%item
	%title="#{episode.show.name} #{episode.number_and_part}: #{episode.title}"
	%itunes:author=episode.hosts.map { |host| host.name }.to_sentence
	%itunes:subtitle=episode.subtitle
	%description=episode.description
	%itunes:summary=episode.description
	%enclosure{ :url => episode.media, :length => episode.file_size, :type => episode.web_content_type }
	%content:encoded=episode.notes
	%link=show_episode_url(episode.show, episode)
	%guid=show_episode_url(episode.show, episode)
	%pubdate=(episode.published_on.to_time + 13.hours).utc
	%itunes:duration=episode.friendly_length
	%itunes:image{ :href => episode.show.uploaded_image.url }
