%item
	%title=episode.title
	%itunes:author author
	%itunes:subtitle subtitle
	%itunes:summary summary
	%itunes:image{ :href => episode.show.icon }
	%enclosure{ :url => episode.media, :length => 100, :type => 'audio/x-m4a' }
	%guid http://example.com/show.mp3
	%pubdate=episode.created_at
	%itunes:duration 8:00