  
.jumbotron
  .row
    .col-md-4.text-center
      %img{:src => @show.image, :width => 260, :height => 260, :class => 'img-rounded'}
    .col-md-8
      %h2=link_to @show.name, show_path(@show)

      %p.lead=@show.description.html_safe

      %p.lead Hosted by #{@show.hosts.map { |host| link_to host.name, user_path(host) }.to_sentence}.

      %hr{ :style => 'border-top: 1px solid #999' }

      %p
        =link_to 'RSS', show_path(@show, :format => 'xml')

