%h1 Jackals

%p=link_to 'Invite a new user', new_user_invitation_path if current_user.try('admin?')

.row
-@users.each do |user|
  .col-md-3
    .center-block.text-center{ :style => 'padding-bottom: 30px'}
      =link_to image_tag('missing_image.png', :width => 130, :height => 130, :class => 'img-rounded'), [user]
      %br
      %small=link_to user.name, [user]

