%h1 Listing users

%p=link_to 'Invite a new user', new_user_invitation_path

%table.table
  %thead
    %tr
      %th Name
      %th Slug
      %th Email
      %th Bio
      %th Twitter
      %th Role
      %th
      %th
      %th
  %tbody
    -@users.each do |user|
      %tr
        %td=user.name
        %td=user.slug
        %td=user.email
        %td=user.bio
        %td=user.twitter
        %td=user.role
        %td=link_to 'Show', user
        %td=link_to 'Edit', edit_user_path(user)
        %td=link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

