.header{ :style => 'z-index: -10; top: 0; left: 0; right: 0; position: absolute; opacity: 0.2; -moz-opacity: 0.2; -webkit-opacity: 0.2' }
  =image_tag(@episode.uploaded_image, :width => '100%')

-if !@episode.live?
  .row
    .col-md-12
      .alert.alert-danger Show is not yet live
-if @episode.preview? && !episode.live?
  .row
    .col-md-12
      .alert.alert-danger Show is in preview mode

=render 'partials/show_block'
  
.row
  .col-md-12
    .content-block{ :style => 'padding-left: 20px; padding-top: 5px' }
      %h2{ :style => 'margin-top: 30px' }="\##{@episode.full_title_with_show}"

      %h3
        ="Published on:"
        =@episode.published_on.strftime("%B %d, %Y") rescue ""

      %p.lead This episode hosted by #{@episode.hosts.map { |host| link_to host.name, user_path(host) }.to_sentence.html_safe}.

      -if @episode.guests.count == 1
        %p.lead
          Guest for this episode was #{@episode.guests.map { |guest| link_to guest.name, user_path(guest) }.to_sentence.html_safe}.
      -elsif @episode.guests.count > 1
        %p.lead 
          Guests for this episode were #{@episode.guests.map { |guest| link_to guest.name, user_path(guest) }.to_sentence.html_safe}.

      -if @episode.media
        %p
          %audio{ :src => @episode.media, :controls => "controls", :type => "audio/mp3" }
        %p
          =link_to "MP3", @episode.media.to_s

      %p=@episode.description.html_safe
      %p=@episode.notes
