= simple_form_for @rss_feed do |f|
  - if @rss_feed.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rss_feed.errors.count, "error")} prohibited this rss_feed from being saved:"
      %ul
        - @rss_feed.errors.full_messages.each do |msg|
          %li= msg
  =f.input :name
  =f.input :slug
  =f.input :order
  =f.input :description, :input_html => {:rows => 20, :cols => 150}, as: :bootsy
  =f.input :uploaded_image, as: :image_preview, input_html: {preview_version: :thumb}
  =f.association :owner, as: :select
  =f.association :itunescategory, label_method: :name, :as => :select
  =f.input :itunesauthor
  =f.association :shows, as: :check_boxes
  =f.button :submit
