/*
 *= require_self
 *= require_tree .
 *= stub scaffolds
 *= require mediaelement_rails
 */

$body-bg: #ccc;
$brand-info: #fff;

@import "bootstrap";

.content-block{ background-color: #fff; padding-top: 10px; padding-left: 15px; padding-right: 10px; padding-bottom: 10px; border-radius: 5px }