.header{ :style => 'z-index: -10; margin-top: -200px; top: 0; left: 0; right: 0; position: absolute; opacity: 0.2; -moz-opacity: 0.2; -webkit-opacity: 0.2' }
  =image_tag(@show.image, :width => '100%')
  
=render 'partials/show_block'

.row
  .col-md-8
    .content-block
      .h3 Episodes
      %p
        =link_to "Create an episode", new_show_episode_path(@show) if current_user.try('admin?')
      - if !@episodes.nil? && @episodes.count > 0
        -@episodes.each do |episode|
          %p
            =link_to "#{episode.full_title_with_show}", [@show, episode]
            -if !episode.live?
              %span.label.label-danger Not Live
            -if episode.preview? && !episode.live?
              %span.label.label-warning Preview
      -else
        %p No episodes have been added yet.
  .col-md-4
    .content-block
      2nd column
