!!! XML
%rss{ 'xmlns:itunes' => 'http://www.itunes.com/dtds/podcast-1.0.dtd', 'version' => '2.0' }
	%channel

	%title=@show.name
	%link="http://#{request.host}#{show_path(@show)}"
	%language=@show.language
	%copyright=@show.copyright
	%itunes:subtitle=@show.name
	%itunes:author=@show.hosts.map { |host| host.name }.to_sentence
	%itunes:summary=@show.description
	%description=@show.description
	%itunes:owner
		%itunes:name=@show.owner.name
		%itunes:email=@show.owner.email
	%itunes:image{ :href => 'http://example.com' }
	%itunes:category{ :text => 'Category' }
		%itunes:category{ :text => 'Subcategory'}
	%itunes:category{ :text => 'Category' }

	- @show.episodes.each do | episode |
		=render 'partials/show', :episode => episode
