
=render 'partials/show_block'

.row
  .col-md-8
    .content-block
      .h3 Episodes
      %p
        =link_to "Create an episode", new_show_episode_path(@show) if current_user.try('admin?')
      - if !@episodes.nil? && @episodes.count > 0
        -@episodes.each do |episode|
          %p
            =link_to "\##{episode.full_title}", [@show, episode]
            -if !episode.live
              %span.label.label-danger Not Live
            -if episode.preview && !episode.live
              %span.label.label-warning Preview
      -else
        %p No episodes have been added yet.
  .col-md-4
    .content-block
      2nd column
