-begin
  =get_and_render_template(self, 'show')
-rescue Exception => e
  -Rails.logger.warn(e.message)
  / Using system template
  .jumbotron
    .row
      .col-md-4.text-center
        =image_tag(@show.image, :width => 260, :height => 260, :class => 'img-rounded')
      .col-md-8
        %h2=link_to @show.name, show_path(@show)
        %p.lead=@show.description.html_safe
        %p.lead Hosted by #{@show.hosts.map { |host| link_to host.name, user_path(host) }.to_sentence}.
        %hr{ :style => 'border-top: 1px solid #999' }
        %p=link_to 'RSS', show_path(@show, :format => 'xml')
  .row
    .col-md-8
      .content-block
        .h3 Episodes
        %p
          =link_to "Create an episode", new_show_episode_path(@show) if current_user.try('admin?')
          - if !@episodes.nil? && @episodes.count > 0
            -@episodes.each do |episode|
              %p
                =link_to "#{episode.full_title_with_show}", [@show, episode]
                -if !episode.live?
                  %span.label.label-danger Not Live
                -if episode.preview? && !episode.live?
                  %span.label.label-warning Preview
          -else
            %p No episodes have been added yet.
