-if current_user.try('admin?') || (!current_user.nil? && current_user.roles.count > 0)
  %li.dropdown 
    %a.dropdown-toggle{ :href => '#', 'data-toggle' => 'dropdown' }
      Admin
      %b.caret
      %ul.dropdown-menu
        -if can? :manage, User
          %li
            =link_to "Users", users_path
        -if can? :manage, Template
          %li
            =link_to "Templates", user_templates_path
        -if can? :manage, Stylesheet
          %li
            =link_to "Stylesheet", stylesheets_path
        -if can? :manage, Show
          %li
            =link_to "New Show", new_show_path
        -if can? :manage, Page
          %li
            =link_to "Pages", pages_path
        -if can? :manage, Medium
          %li
            =link_to "Media", media_path
          