!!! 
%html{ :lang => 'en' }
	%head
		%meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }
		%title Cleric
		=stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		=javascript_include_tag "application", "data-turbolinks-track" => true
		=csrf_meta_tags
	%body
		.navbar.navbar-default{:role => 'navigation' }
			.container
				.navbar-header
					=link_to "Home", root_url, :class => 'navbar-brand'
					=link_to "Shows", root_url, :class => 'navbar-brand'
					=link_to "Feeds", rss_feeds_url, :class => 'navbar-brand'
					=link_to "Blog", root_url, :class => 'navbar-brand'
				.collapse.navbar-collapse
					%ul.nav.navbar-nav.pull-right
						%li
							=link_to "New", @new_object_path if user_signed_in? && !@new_object_path.nil?
						%li
							=link_to "Edit", @edit_object_path if user_signed_in? && !@edit_object_path.nil?
						%li
							=link_to "Sign out", destroy_user_session_path, :method => :delete if user_signed_in?
						%li
							=link_to "Sign in", new_user_session_path if !user_signed_in?
		.container
			.row
				.col-md-12=notice
			.row
				.col-md-12=alert
			=yield
			-if Rails.env.development?
				.div{ :style => 'margin-top: 30px' }
				=debug(current_user) if Rails.env.development?	
				=debug(params) if Rails.env.development?